@model MyOwnSite.Models.Post

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}




@*@{
    ViewBag.Title = "Posts";
}*@







<h2>Posts</h2>

<p>
    <a href="#" class ="anchorDetail" onclick="$('#dialog').dialog('open');">Click here to see the popup</a>
    <a href="javascript:void(0);" class="anchorDetail" onclick="PopUpCreate('/post/create')">Create New Post</a>  
</p>



<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content" >
            <div id='myModalContent' ></div>
        </div>
    </div>
    
</div>

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Author")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                

                <a href="javascript:void(0);" class="anchorDetail" onclick="PopUpGeneral('/post/edit', @item.PostId)">Edit</a>
                <a href="javascript:void(0);" class="anchorDetail" onclick="PopUpGeneral('/post/details', @item.PostId)">Details</a>
                <a href="javascript:void(0);" class="anchorDetail" onclick="PopUpGeneral('/post/delete', @item.PostId)">Delete</a>

            </td>
        </tr>
    }

</table>*@
<div id="dialog" class="ui-dialog" style="display: none">

 @Html.Action("Create") 



</div>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
